.bqWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 40px;
  }
  
  .blockquote {
    position: relative;
    padding: 10px 80px 16px;
    font-size: 16px;
    text-align: right;
    margin: auto;
  }
  
  .blockquote:before,
  .blockquote:after {
    position: absolute;
    color: rgb(185 28 28);
    font-size: 100px;
    font-family: Times, sans-serif;
    line-height: 100px;
  }
  
  .blockquote:before {
    content: '“';
    left: -30px;
    top: -10px;
  }
  
  .blockquote:after {
    content: '”';
    right: -30px;
    bottom: -10px;
  }
  
  .blockquote cite {
    color: var(--primary-color);
    font-size: 22px;
    padding-top: 10px;
    display: block;
  }