@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

:root {
  --index: calc(1vw + 1vh);
  --transition: 1.5s cubic-bezier(.05, .5, 0, 1);
  --primary-color: #8b0000;
  --background-dark: #000;
  --text-light: #fff;
  --text-dark: #000;
}

body {
  background-color: white;
  color: var(--text-dark);
  font-family: kamerik-3d, 'Arial', sans-serif;
  line-height: 1.6
}



@font-face {
  font-family: kamerik-3d;
  src: url(../fonts/kamerik205-heavy.woff2);
  font-weight: 900
}

@font-face {
  font-family: merriweather-italic-3d;
  src: url(../fonts/merriweather-regular-italic.woff2)
}

h2 {
  color: var(--primary-color)
}



footer {
  background: var(--background-dark);
  color: var(--text-light);
  text-align: center;
  padding: 20px 0
}

footer a {
  color: var(--text-light);
  text-decoration: none;
  padding: 0 15px
}

footer a:hover {
  text-decoration: underline
}

.bg-dark {
  background-color: var(--background-dark)
}

.text-light {
  color: var(--text-light)
}



.cta {
  background-image: url('./img/banner_bg.webp');
  background-size: cover;
  background-repeat: repeat;
}

.cta button {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.glide__slides li, .glide__slides .slide_img {
  background-color: white;
  border: 1px solid #cccccc9c;
  border-bottom: 1px solid #cccccc28;
}

.glide__slides .slide_img:hover {
  cursor: pointer;
  border: 1px solid #cccccc9c;
  border-bottom: 1px solid #cccccc28;
  transform: scale(1.01);
  transition: all .15s ease-in-out;
}

.glide__arrows button:hover {
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
  /* Increase shadow for a "lifting" effect */
  background-color: #f2f2f2;
  /* Slightly change color for feedback */
  transition: all .15s ease-in-out;
}
